@charset "UTF-8";   /* Unicode UTF-8 */
* ,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Remove padding on objects widths */
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
/* Basic Setup */
html, body{
      font-family: Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-stretch:normal;
      font-size: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      font-smoothing: antialiased;
      line-height: 1.6em;
      color: #fff;
      background:#111211;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #ff0;
    transition: color 0.4s linear 0s;
} 
.grid-container {
    width: 40em;
    margin: 0px auto;
    overflow-x: hidden;
}
.f1 {font-size: 48px;}
.f2 {font-size: 36px;}
.brand{
  margin-top: 35px;
  margin-left: 20px;
}
