@charset "UTF-8";   /* Unicode UTF-8 */
* ,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Remove padding on objects widths */
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
/* Basic Setup */
html, body{
      font-family: Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-stretch:normal;
      font-size: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      font-smoothing: antialiased;
      line-height: 1.6em;
      color: #fff;
      background:#111211 url(../img/map_bg.png);
 
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #ff0;  
    -webkit-transition: color .6s linear;  
    -moz-transition: color .6s linear;  
    -o-transition: color .6s linear;  
    -ms-transition: color .6s linear;  
    transition: color .6s linear;
}
/* = base styles setup  */ 
.grid-container {
    width: 40em;
    margin: 0px auto;
    overflow-x: hidden;
}
 ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }
.f1 {
  font-size: 48px; }

.f2 {
  font-size: 36px; }

.f3 {
  font-size: 24px; }

.f4 {
  font-size: 18px; }

.f5 {
  font-size: 12px; }
/* =grid base adapting 640px/40.000em  */
.grid-container {
  width: 40.000em;
  margin: 0 auto;
  overflow-x: hidden;}
@media (max-width: 30.000em) {
  .grid-container {
    max-width: 320px;
    display: block;
    margin: 0 auto 1em;
    transition: background 0.3s ease;
   }
  .grid-container > header {
   font-size: medium;
  }
  .grid-container > section h2 {
   font-size: large;
  }
  .grid-container > section h3 {
   font-size: medium;
   background: center #121214;
  }
}
.cf:before,
.cf:after {
    content: " "; /* clear element: after */
    display: table; /* clear display mode */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;/* For IE 6-7*/
}

.vr {margin-bottom: 12.5px;}
.bright {
    color: #C8B715;
}
.brand{
  margin-top: 35px;
}
.intro {
    line-height: 1.3em;
}
